doctype html
html
   head
      title Digimon.
      link(rel="stylesheet", href="./styles/style.css")
   body
        p Tu digimon elegido es #{nombre}
        img(src=url, alt="La imagen")
        p #{level}

